/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#supervised-user-created {
  width: 722px;
}

#supervised-user-created-title {
  padding: 20px;
  word-wrap: break-word;
}

@media only screen and (max-height:400px) {

/* Omit the image on very small screens. */
#supervised-user-created-image {
  display: none;
}

} /* @media only screen and (max-height:400px) */

#supervised-user-created-image {
  -webkit-border-radius: 3px 3px 0 0;
  background-image: -webkit-image-set(
      url(../../../../ui/resources/default_100_percent/supervised_illustration_done.png) 1x,
      url(../../../../ui/resources/default_200_percent/supervised_illustration_done.png) 2x);
  background-position: center;
  flex: 5;
  height: 344px;
}

#supervised-user-created-text {
  padding: 0 20px 0 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#supervised-user-created-switch {
  max-width: 600px;
  word-wrap: break-word;
}

#supervised-user-created-action-area {
  padding: 20px;
}
