/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */
body {
  background-color: rgb(230, 230, 230);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 50px 40px 20px 40px;
  text-align: center;
}

#main-frame-blocked {
  margin: auto;
  max-width: 540px;
  min-width: 200px;
}

#box {
  background-color: rgb(251, 251, 251);
  border: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(136, 136, 136);
  border-radius: 3px;
  box-shadow: 0 2px 2px rgb(170, 170, 170);
  color: black;
}

h1 {
  color: rgb(102, 102, 102);
  font-size: 1.3em;
  font-weight: normal;
  margin: 5px 0 25px 0;
}

a {
  color: rgb(17, 85, 204);
  text-decoration: none;
}

#error-img {
  /* Can't access chrome:// urls from an untrusted renderer process, so embed
   * the resource manually. */
  -webkit-user-select: none;
  content: -webkit-image-set(
      url(../../app/theme/default_100_percent/common/error_managed_mode_blocked_page.png) 1x,
      url(../../app/theme/default_200_percent/common/error_managed_mode_blocked_page.png) 2x);
  margin-bottom: 15px;
  margin-top: 10px;
}

#avatar-container {
  position: relative;
}

.avatar-img {
  -webkit-user-select: none;
  border: 3px solid rgb(251, 251, 251);
  border-radius: 50%;
  margin-bottom: 5px;
  margin-top: 10px;
  position: relative;
}

#content-top {
  margin: 20px 25px;
}

button {
  -webkit-user-select: none;
  background-image: linear-gradient(rgb(246, 246, 246) 5%,
                                    rgb(239, 239, 239) 50%,
                                    rgb(221, 221, 221));
  border: 1px solid rgb(209, 209, 211);
  border-bottom: 1px solid rgb(193, 193, 195);
  border-radius: 2px;
  box-shadow: inset 0 1px 0 rgb(255, 255, 255);
  color: rgb(102, 102, 102);
  font-weight: bold;
  margin: 5px 3px;
  padding: 8px 13px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

@media (min-width: 376px) {
  #back-button {
    width: 100px;
  }
}

@media (max-width: 375px) {
  #button-container {
    display: flex;
    flex-flow: column;
  }

  #back-button {
    order: 2;
  }

  #request-access-button {
    order: 1;
  }

  button {
    width: 100%;
  }
}
